.container{
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.font{
  color: white;
  padding: 5px;
}

@media screen and (min-width:768px){
.container{
  flex-direction: row;
  padding: 10px;
  justify-content: flex-end;
}
.font{
  display: flex;
  margin: 5px;
}
}
